.yummies {
    &__desktop {
        &--wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 20;
            height: 13rem;

            .nav_container {
                width: 40%;
                animation: .40s ease-out go_up forwards;
            }
        }

        &--search {
            width: 50%;
        }
    }
}

@media screen and (max-width: 62.5rem) {
    .yummies {
        &__desktop {
            &--wrapper {
                display: none;
            }
        }
    }
}

@keyframes go_up {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    75% {
        opacity: .3;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}