@use "../../assets/colors";

.desktopNav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    &__title{
        font-size: 4rem;
        color: map-get(map-get(colors.$palletTwo, "textColors"), "title");
    }

    &__list{
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__link{
        font-size: 1.8rem;
    }
}