.cookingDiagram {
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto;
    overflow-x: scroll;

    &__row {
        display: grid;
        grid-auto-flow: column;
        white-space: nowrap;
        height: max-content;

        @for $i from 1 through 10 {
            &.columns--#{$i} {
                grid-template-columns: repeat($i, calc(100% / 3));
            }
        }
    }

    &__column {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        height: auto;
    }

    &__tool {
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            height: 5rem;
            width: 5rem;
        }
    }

    &__lineWrapper {
        align-items: center;
        justify-content: center;
    }

    &__line {
        width: 0.2rem;
        height: 7rem;
        background: #C3C3C3;
        border-radius: 2rem;
        margin: 0.2rem 0;
        z-index: -1;

        &--active {
            height: 10rem;
            background: black;
            margin: 0rem !important;
            border-radius: 0rem;
        }

        &--end {
            position: absolute;
            width: 90%;
            background: transparent;
            border-left: 0.3rem solid black;
            border-radius: 0;
            top: 50%;
            left: 50%;
            transform: translate(-0.5%, -50%);
            border-bottom: 0.3rem solid black;

            .icon {
                position: absolute;
                top: 100%;
                left: 95%;
                transform: translateY(-44%);
            }
        }
    }

    &__bigArrow {
        position: absolute;
        width: 80%;
        height: 2rem;
        border: 0.2rem solid black;
        top: 100%;
        left: 0;
        transform: translate(-37%, -100%);
        display: flex;
        align-items: center;
        z-index: 1;

        svg {
            transform: translateX(-105%);
            z-index: 10;
            background: transparent;
        }
    }

    &__ingredient {
        position: absolute;
        display: flex;
        left: 50%;
        // top: 50%;
        // transform: translateY(-50%);
        font-size: 1.5rem;
        text-wrap: wrap;
        width: 100%;

        .icon {
            transform: rotate(180deg);
            width: 24px;
            height: 24px;
        }
    }

    &__icon {
        position: absolute;
        width: 6rem;
        height: 6rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__iconWrapper {
        width: 6rem;
        height: 6rem;
        z-index: 10;
    }

    &__img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }



    &__difficultyWrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 0.2rem;
        flex-wrap: wrap;
    }

    &__difficulty {
        height: 1.5rem;
        width: 1.5rem;
        background: rgb(0, 0, 0);
        border-radius: 50%;
    }

    &__backwardsArrow{
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        width: 30%;
        transform: translate(12%, -101%);
        border-bottom: 0.2rem solid black;
        border-right: 0.2rem solid black;
        border-top: 0.2rem solid black;

        @for $i from 1 through 10 {
            &.steps--#{$i} {
                height: calc(10rem * $i - 5rem);
            }
        }
    }

    &__arrow{
        width: 100%;
        height: 100%;
        position: relative;

        .icon{
            transform: translate(-50%, -54%) rotate(180deg);
        }
    }

    &__forloop{
        position: absolute;
        left: 50%;
        top: calc(0% + 1rem);
        border: 0.2rem dashed black;

        @for $i from 1 through 10 {
            &.steps--#{$i} {
                height: calc(10rem * $i - 5rem);
            }
        }
        @for $i from 1 through 10 {
            &.width--#{$i} {
                width: calc(100% * $i - 5rem);
            }
        }
    }

    &__forloopIcon{
        width: max-content;

        .cookingDiagram__iconWrapper{
            position: absolute;
            top: 100%;
            left: 0;
            transform: translate(-50%, -50%);

            .icon{
                width: 4rem;
                height: 4rem;
            }
        }
    }
}