.yummies {
    &__desktop {
        &--wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            z-index: 20;

            .nav_container {
                width: 40%;
            }
        }

        &--search {
            width: 50%;  
        }
    }
}