// Variables
@use "./../../assets/variables" as v;
@use "../../assets/colors";

.yummies {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0rem v.$home-padding-sides;
    overflow-x: hidden;
    overflow-y: scroll;
    background: map-get(map-get(colors.$palletTwo, "backgroundColors"), "main");

    &_span{
        width: 100%;
        display: flex;
        border: 0.1rem solid map-get(map-get(colors.$palletTwo, "borderColors"), "default");
        animation: .45s ease-out go_up forwards;
        padding: 1rem;
        background: white;
        border-radius: 1rem;
        align-items: center;
        gap: 0.5rem;
        margin: 2rem 0;
        background: map-get(map-get(colors.$palletTwo, "backgroundColors"), "second");

        .icon{
            width: 3rem;
            height: 3rem;
            fill: map-get(map-get(colors.$palletTwo, "textColors"), "icon");
        }
    }

    &_input{
        width: 100%;
        height: 4rem;
        border: none;
        font-size: 1.8rem;
        color: map-get(map-get(colors.$palletTwo, "textColors"), "title");
        background: map-get(map-get(colors.$palletTwo, "backgroundColors"), "second");
        border-radius: 0.5rem;

        &::placeholder{
            color: map-get(map-get(colors.$palletTwo, "textColors"), "title");
        }
    }

    &_header{
        padding-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: sticky;

        &-content {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        &-h1{
            font-size: v.$home-logo;
            animation: .4s ease-out go_up forwards;
            color: map-get(map-get(colors.$palletTwo, "textColors"), "title");
        }

        &-h2{
            font-size: v.$home-h1;
            animation: .5s ease-out go_up forwards;
        }

        .yummies_navigation {
            display: flex;
            width: 100%;
            animation: .55s ease-out go_up;
        }
    }

    .yummies_main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .yummies_new-recipes{
            width: 100%;
            height: auto;
            display: flex;
            gap: 2rem;

            overflow-x: auto;
            white-space: nowrap;
            scrollbar-width: thin;
            scrollbar-color: #ccc transparent;

            &::-webkit-scrollbar {
                height: .8rem;
            }

            &::-webkit-scrollbar-thumb {
                background: #aaa;
                border-radius: 1rem;
            }

            & > * {
                flex: 0 0 auto;
                width: 25rem;
            }
        }

        .yummies_legenda {
            display: flex;
            flex-direction: column;

            .yummies_legenda-h1 {
                font-size: v.$home-h1;
            }

            .yummies_legenda-explanation {
                margin-bottom: 1rem;
            }

            .yummies_legenda-button {
                width: 10rem;
                height: 3rem;
                border: v.$thin-border;
                border-radius: 1rem;
                font-size: 1.2rem;
            }
        }

        .yummies_recipes {
            display: flex;
            flex-direction: column;

            .yummies_recipes-h1 {
                font-size: v.$home-h1;
                padding-bottom: 1rem;
                animation: .6s ease-out go_up forwards;
                color: map-get(map-get(colors.$palletTwo, "textColors"), "title");
                font-size: 3rem;
            }

            .yummies_recipes-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                margin-bottom: 2rem;
                animation: .65s ease-out go_up forwards;
            }
        }
    }

    .footer {
        width: 100%;
        height: 10rem;
    }
}

@keyframes go_up {
    0% {
        transform: translateY(100%);
        opacity: 1;
    }
    75% {
        opacity: .3;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

