// Variables
@import "../../assets/variables";

.yummies {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 2rem;
    padding: 0rem $home-padding-sides;
    overflow-x: hidden;

    .yummies_header{
        width: 100%;
        display: flex;
        flex-direction: column;

        .yummies_header-content {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .yummies_header-h1{
                font-size: $home-logo;
            }

            .yummies_header-h2{
                font-size: $home-h1;
            }
        }

        .yummies_navigation {
            display: flex;
            width: 100%;
        }
    }

    .yummies_main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .yummies_new-recipes{
            width: 100%;
            height: auto;
            display: flex;
            gap: 2rem;

            overflow-x: auto;
            white-space: nowrap;
            scrollbar-width: thin;
            scrollbar-color: #ccc transparent;

            &::-webkit-scrollbar {
                height: .8rem;
            }

            &::-webkit-scrollbar-thumb {
                background: #aaa;
                border-radius: 1rem;
            }

            & > * {
                flex: 0 0 auto;
                width: 25rem;
            }
        }

        .yummies_legenda {
            display: flex;
            flex-direction: column;

            .yummies_legenda-h1 {
                font-size: $home-h1;
            }

            .yummies_legenda-explanation {
                margin-bottom: 1rem;
            }

            .yummies_legenda-button {
                width: 10rem;
                height: 3rem;
                border: $thin-border;
                border-radius: 1rem;
                font-size: 1.2rem;
            }
        }

        .yummies_recipes {
            display: flex;
            flex-direction: column;

            .yummies_recipes-h1 {
                font-size: $home-h1;
                padding-bottom: 1rem;
            }

            .yummies_recipes-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}
