@use "../../assets/colors";
@use "sass:map";

.favorites {
    min-height: 100vh;
    padding: 2rem;
    padding-bottom: 12rem;
    background: map.get(map.get(colors.$palletTwo, "backgroundColors"), "main");
    display: flex;
    flex-direction: column;
    align-items: center;

    .favorites_header {
        .favorites_h1 {
            font-size: 3rem;
            margin-bottom: 2rem;
            animation: .45s ease-out go_up forwards;
        }
    }

    .favorites_main {
        animation: .65s ease-out go_up forwards;
        max-width: 1600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;

        
        .favorites_container {
            max-width: 1600px;
            
            list-style: none;
            padding: 0;
            //display: flex;
            //flex-wrap: wrap;
            //justify-content: space-around;
            //gap: 2rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            animation: .65s ease-out go_up forwards;

            .favorite_li {

                .favorite_p {
                    font-size: 2rem;
                    font-style: italic;
                    color: #777;
                }
            }
        }
    }
}

@keyframes go_up {
    0% {
        transform: translateY(100%);
        opacity: 1;
    }

    75% {
        opacity: .3;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media screen and (max-width: 69rem) {

    .favorites {
        &_container {
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }
}
