@use "../../assets/colors";

.footer_component {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer_link {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: map-get(map-get(colors.$palletOne, "textColors"), "subTitle");

        svg {
            path {
                fill: map-get(map-get(colors.$palletOne, "textColors"), "title") !important;
            }
        }
    }
}