@use "../../assets/colors";
@use "sass:map";

.desktopNav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: map.get(map.get(colors.$palletTwo, "backgroundColors"), "second");

    &__title{
        font-size: 4rem;
        color: map.get(map.get(colors.$palletTwo, "textColors"), "title");
    }

    &__list{
        list-style: none;
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__link{
        font-size: 1.8rem;
        color: map.get(map.get(colors.$palletTwo, "textColors"), "text");
        padding: 0.5rem 0;

        &--active{
            border-bottom: .2rem solid map.get(map.get(colors.$palletTwo, "borderColors"), "second");
        }
    }
}

@media screen and (max-width: 62.5rem) {
    .desktopNav{
        display: none;
    }
}