@use "../../assets/colors";
@use "sass:map";

.nav_title {
    font-size: 2rem;
}

.nav_container {
    width: 100vw;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    .nav_ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 1rem 0;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
        box-sizing: border-box;
        scrollbar-width: thin;

            .nav_button {
                position: relative;
                z-index: 99;
                background: white;
                border-radius: 100%;
                display: flex;
                align-items: center;
                width: 6rem;
                height: 6rem;
                padding: 1rem;
                border-radius: 100%;
                box-shadow: 0 0 .5rem .2rem rgba(0,0,0, .3);

                .nav_icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 6rem;
                    height: 6rem;
                    padding: 1rem;
                    border-radius: 100%;
                }
            }
        }

        .nav_links {
            flex-shrink: 0;
            min-width: 8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;

            &.active {
                text-decoration: underline;
            }

            h2{
                font-size: 1.5rem;
                font-weight: 500;
            }

            .nav_icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 7rem;
                height: 7rem;
                padding: 1rem;
                border-radius: 100%;
                // box-shadow: 0 0 .5rem .2rem rgba(0,0,0, .3);
                background: map.get(map.get(colors.$palletTwo, "backgroundColors"), "second");
                border: 0.1rem solid map.get(map.get(colors.$palletTwo, "borderColors"), "default");

                svg{
                    g{
                        path{
                            // fill: map.get(map.get(colors.$palletTwo, "textColors"), "icon") !important;
                        }
                    }
                }
            }

            .nav_link {
                font-size: 1.5rem;
            }

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

@media screen and (max-width: 370px) {

    .nav_container {
        .nav_ul {
            .nav_links {
                .nav_icon {
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
    }
}
