.nav_title {
    font-size: 2rem;
}

.nav_container {
    width: 100vw;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    .nav_input{
        width: 92%;
        height: 6.5rem;
        transform: translateY(12%);
        padding-left: 2rem;
        border: .1rem solid #ccc;
        transition: all 0.3s ease-in-out;
        font-size: 2rem;
        outline: none;
        border-radius: 10rem;
        box-shadow: 0 0 .5rem .2rem rgba(0,0,0, .3);
        z-index: 1;
    }

    .nav_ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 1rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
        box-sizing: border-box;
        scrollbar-width: thin;

            .nav_button {
                position: relative;
                z-index: 99;
                background: white;
                border-radius: 100%;
                display: flex;
                align-items: center;
                width: 6rem;
                height: 6rem;
                padding: 1rem;
                border-radius: 100%;
                box-shadow: 0 0 .5rem .2rem rgba(0,0,0, .3);

                .nav_icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 6rem;
                    height: 6rem;
                    padding: 1rem;
                    border-radius: 100%;
                }
            }
        }

        .nav_links {
            flex-shrink: 0;
            min-width: 8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .nav_icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6rem;
                height: 6rem;
                padding: 1rem;
                border-radius: 100%;
                box-shadow: 0 0 .5rem .2rem rgba(0,0,0, .3);
            }

            .nav_link {
                font-size: 1.5rem;

            }
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

