@use "../../assets/colors";
@use "sass:map";

.recipePage{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    position: relative;
    background: map.get(map.get(colors.$palletTwo, "backgroundColors"), "main");

    &__container{
        max-width: 1600px;
        margin: 0 auto;
        width: 100%;
    }

    &__link{
        .icon{
            width: 3.5rem;
            height: 3.5rem;
            fill: map.get(map.get(colors.$palletTwo, "textColors"), "title");
        }
    }

    &__figure{
        height: 40rem;
        width: 100%;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: .45s ease-out showImg forwards;
    }

    &__text{
        width: 100%;
        height: max-content;
        border: 0.2rem solid map.get(map.get(colors.$palletTwo, "borderColors"), "default");
        border-bottom: none;
        border-radius: 2rem 2rem 0 0;
        transform: translateY(-2rem);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        padding: 1rem;
        margin-bottom: -2rem;
        background: map.get(map.get(colors.$palletTwo, "backgroundColors"), "second");
        animation: .45s ease-out go_up-recipe forwards;
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;

        div{
            display: flex;
            gap: 1rem;
        }

        &--header{
            padding-top: 2rem;
        }
    }

    &__close {
        width: 3.25rem;
        height: 3.25rem;
        fill: map.get(map.get(colors.$palletTwo, "textColors"), "text");
    }

    &__p{
        font-size: 2rem;
    }

    &__button{
        width: 4rem;
        height: 4rem;
        background: map.get(map.get(colors.$palletTwo, "backgroundColors"), "white");
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.2rem solid map.get(map.get(colors.$palletTwo, "borderColors"), "second");

        .icon{
            width: 3.5rem;
            height: 3.5rem;
            fill: map.get(map.get(colors.$palletTwo, "textColors"), "icon");
        }
    }

    &__title{
        font-size: 3rem;
        color: black;
    }

    &__favorite {
        z-index: 999;

        button{
            background: transparent;
            border: none;
        }

        svg {
            fill: map.get(map.get(colors.$palletTwo, "textColors"), "icon");
        }
    }

    &__icons{
        display: flex;
        width: 60%;
        margin: 0 auto;
        border: 0.2rem solid map.get(map.get(colors.$palletTwo, "borderColors"), "second");
        background: map.get(map.get(colors.$palletTwo, "backgroundColors"), "white");
        padding: 1rem;
        border-radius: 2rem;
        justify-content: space-evenly;
    }

    &__icon{

        span{
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: map.get(map.get(colors.$palletTwo, "textColors"), "icon");

            svg{
                width: 5rem;
                height: 5rem;
                fill: map.get(map.get(colors.$palletTwo, "textColors"), "icon");

            }
        }
    }

    &__subTitle{
        font-size: 2.5rem;
        color: black;
    }

    h3{
        font-size: 2rem;
        color: black;
    }

    // &__toggle{
    //     width: 8rem;
    //     height: 4rem;
    //     border: 0.2rem solid black;
    //     border-radius: 2rem;
    //     display: flex;
    //     align-items: center;
    //     justify-content: flex-start;
    //     padding: 0 0.5rem;
    //     transition: justify-content 0.4s linear;

    //     &--active{
    //         justify-content: flex-end;
    //     }
    // }

    // &__circle {
    //     height: 3rem;
    //     aspect-ratio: 1/1;
    //     background: red;
    //     border-radius: 50%;
    // }

    &__span{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        font-size: 1.8rem;
    }

    &__modalButton{
        padding: 0.5rem 2rem;
        border: 0.2rem solid map.get(map.get(colors.$palletTwo, "borderColors"), "second");
        font-size: 1.8rem;
        border-radius: 1rem;
        background: map.get(map.get(colors.$palletTwo, "backgroundColors"), "white");
        color: map.get(map.get(colors.$palletTwo, "textColors"), "icon");
    }

}

@media screen and (max-width: 69rem) {
    .recipePage{
        padding-bottom: 6em;
    }
}

@keyframes showImg {
    0% {
        opacity: 0;
    }
    75% {
        opacity: .3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes go_up-recipe {
    0% {
        transform: translateY(50%);
        opacity: 1;
    }

    100% {
        transform: translateY(-1.5%) !important;
        opacity: 1;
    }
}
